diffusers>=0.37.0
fonttools>=4.56.0
gradio>=5.47.2,<=5.50.0
manga-ocr>=0.1.14
numpy>=1.24.0
opencv-contrib-python>=4.8.0
packaging>=24.0
photoshopapi>=0.9.0
pillow>=11.1.0
pyoxipng>=9.1.1
requests>=2.32.3
safetensors>=0.4.0
scikit-learn>=1.3.0
scipy>=1.10.0
sdnq>=0.1.3
skia-python>=87.7
spandrel>=0.3.0
torch
torchvision
transformers>=5.0.0
uharfbuzz>=0.48.0
ultralytics>=8.3.94
